/*  skin/toolbar-button.css  */

treechildren::-moz-tree-image(DirCol, eas) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://eas4tbsync/skin/eas16.png");
}

.abMenuItem[AddrBook="true"][TbSyncIcon="eas"] {
  list-style-image: url("chrome://eas4tbsync/skin/eas16.png");
}

/* autocomplete styles */
treechildren::-moz-tree-cell-text(EASGAL) {
  color: red;
}

treechildren::-moz-tree-row(EASGAL) {
  background-color: silver;
}